*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid green;
   padding: 2em;
}
header,main,article,footer{
    border: 2px solid ;
    padding: 2em;
    /* text-align: center; */
    margin: 3em;
}

.wraper{
    border: 2px solid blue;
    padding: 1.5em;
}
